<form action="signup.php" id="signupForm" method="POST" autocomplete="off" class="cmxform">
    <fieldset>
        <legend>SignUp</legend>
        <p>
            <label for="bameInput" class="inputLabel">Name</label>
            <input type="text" name="name" id="nameInput" required>
        </p>
        <p>
            <label for="emailInput" class="inputLabel">Email</label>
            <input type="text" name="email" id="emailInput" required>
        </p>
        <p>
            <label for="passwordInput" class="inputLabel">Password</label>
            <input type="password" name="password" id="passwordInput" required>
        </p>
        <p>
            <label for="passwordConfirmInput" class="inputLabel">Confirm password</label>
            <input type="password" name="passwordConfirm" id="passwordConfirmInput" required>
        </p>
        <p>
            <label for="policyCheckbox" class="inputLabel">Please agree to our policy</label>
            <input type="checkbox" name="policy" id="policyCheckbox" required>
        </p>
    </fieldset>

    <input type="submit" value="Submit">
</form>